extends layout

block content

  h1 Brand: #{brand.name}

  div(style='margin-left:20px;margin-top:20px')

    h4 Items

    dl
      each product in brand_products
        dt
          a(href=product.url) #{product.name}
        dd #{product.description}
        dd Stock: #{product.stock}

      else
        p This category has no products

    hr
    p
    a(href=brand.url+'/delete') Delete brand

    hr
    p
    a(href=brand.url+'/update') Update brand